*{
    margin: 0;
    padding: 0;
}
.firstPage{
    display: block;
}
.secondPage{
    display: none;
}
.hrfloorName{
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
}
hr{
    flex-grow:1;
    margin-top: 7px;
    border-left: none;
    border-right: none;
    border-bottom: none;
} 


h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }
 .button{
    width:50px;
    display: flex;
    flex-direction: column;
    margin: 11px 18px;
 }
 .button button{
    margin: 2px;
    font-weight: bold;
 }
 .up{
    background-color: rgb(120, 255, 255);
    border: 1px solid black;
    border-radius:5px ;
    cursor: pointer;
 }
 .down{
    background-color: rgb(255, 243, 7);
    border: 1px solid black;
    border-radius:5px ;
    cursor: pointer;
 }
.goToFirstPage{
    font-size: 18x;
    margin: 5px 0 10px 3px ;
    background-color: red;
    color: white;
    width:60px;
    height: 23px;
    cursor: pointer;
}
.buttonLift{
    display: flex;
    margin-top: 6px;
}
.lift{
    width: 50px;
    height: 60px;
    background-color: yellow;
    border: 2px solid rgb(0, 0, 0);
    margin-right: 5px;
    transition: transform 2.5s ease-in-out;
}

.mainLift{
    display: flex;
    margin-left: 10px;
}    
.gates{
    display: flex;
}
.gate1 , .gate2{
    width: 25px;
    height: 56px;
    margin: 1px;
    border: 1px solid rgb(227, 54, 54);
    background-color: rgb(144, 0, 255);
    transition: width 3s ease-in-out;
}
