.firstPage{
    display: block;
}
.secondPage{
    display: none;
}
.hrfloorName{
    display: flex;
    flex-direction: row;
    margin: 3%;
}
.button{
    display: flex;
    flex-direction: column;
    width: 50px;
    margin-left: 3%;
}
.down{
    margin-top: 3px;
}
hr{
    flex-grow:1;
    height: 1px;
} 
h2 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#fff; 
     padding:0 10px; 
 }

 .lift{
    display: flex;
    width: 50px;
    /* flex-direction: row; */
    border:1px solid black;
    padding: 3%;
    /* position: absolute; */
    /* left: 15%; */
    /* bottom: 83%; */
 }